body{
     margin: 0;
     padding: 0;
     background-color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    text-align: center;
    font-size: 15;
    color: white;
    background-color: black;
}
.nav a{
    padding: 5rem;
    text-decoration: none;
}
