body{
     margin: 0;
     padding: 0;
     background-color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
}
.nav a{
    color: white;
    padding: 5rem 5rem 5rem 5rem ;
    text-decoration: none;
}
.nav a houver{
    color: red;
}
.cadastro{
    font-size: 1rem;
    text-align: center;
    width: 30%;
    padding: 2rem;
    border: 1px black solid;
    border-radius: 5px;
}
.cadastro label{
    padding: 2rem;
}

